.title {
  color: midnightblue;
  font-size: 450%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  color: midnightblue;
  font-size: 250%;
  text-align: center;
}

.year {
  color: midnightblue;
  font-size: 175%;
  margin-left: 50px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
}

.paragraph {
  color: midnightblue;
  margin-left: 50px;
  font-size: 150%;
  font-family: arial, helvetica, sans-serif;
  padding: 40px;
  background-color: gainsboro;
}

.bottom {
  color: midnightblue;
  font-size: 175%;
}

body {
  background-color: ivory;
}
